.question{
    width: 50%;
    margin: 20px 0;
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border: 1px solid white;
    border-radius: 5px;

    h3{
        margin: 0;
        padding: 0;
        font-size: 1.5em;
    }

    input {
        width: 6rem;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        text-align: center;

        margin-right: 5px;
    }

    select{
        padding: 0.5rem;
        border: none;
        border-radius: 5px;

    }

}
.chart-section{
/*    Make this a flex display that adjusts the number of columns depending on the size of the screen*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;


    .chart{
        width: 50%;
        margin: 20px 0;
    }
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;

    .btn {
        padding: 0.5rem 1rem;
        margin: 0 5px;
        border-radius: 5px;
        background-color: white;
        color: black;
        cursor: pointer;
        border: 1px solid black;

        &:hover {

            border-color: white;
            background-color: black;
            color: white;
        }
    }
}

@media (max-width: 768px) {
    .question{
        flex-direction: column;

        .input-group{
            margin-top: 10px;
        }

        select{
            margin-top: 10px;
        }

    }

    .chart-section{
        flex-direction: column;
        margin: 0;
        padding: 0;

        .chart{
            margin: 0;
            padding: 0;
            width: calc(95% - 10px);
        }
    }
    .btn-group{
        flex-direction: column;
    }
}
